.video{
  margin-bottom: 0.25rem;

  &-contain{
    height:4.4rem;

    .van-grid {
      width: 100%;

      &-item {
        height: 2.2rem;
        padding: 2%;
        width: 46%;

        .van-image{
          height:1.5rem;
          width: 100%;
        }
      }
    }
  }
}