/deep/.van-cell__title {
  height: 0.5rem;
  width: 1.5rem;

  span {
    background-color: #FFF;
    color:#190909;
    display: block;
    height:100%;
    width: 100%;
    border-radius: 10px;
  }
}

.listItem{
  &-line{
    border-bottom: 1px solid #F1F1F1;
    margin-top: 0.1rem;
  }
}


