.signIn {
  height: 100%;
  position: relative;

  .signIn-topPart {
    width: 100%;
    height: 1rem;
    background-color: #fff;
    display: flex;
    font-size: initial;
    align-items: center;
    position: relative;

    &-back {
      position: absolute;
      height: 0.5rem;
      width: 0.5rem;
      margin-left: 0.2rem;
    }
  }
  &-logo {
    width: 60%;
    height: 2rem;
    margin: auto;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  &-logBox{
    width: 90%;
    margin: auto;
    height: calc(100% - 3rem);

    .van-tabs{
      height: 100%;

      .van-tabs__content{
        .van-form{
          .van-cell{
            margin:0.2rem 0;
            align-items: center;

            /deep/ .van-field__left-icon{
              margin-right: 0.2rem;
            }
          }

          .van-button--danger{
            width: 50%;
            margin:1rem auto 0 auto;
          }

          .van-button--default{
            color:#D41C1C;
          }
        }

        .signIn-logBox-forgetPass,.signIn-logBox-agree{
          text-align: center;
          color: #909090;
        }

        .signIn-logBox-otherWay{
          position: absolute;
          bottom:1rem;
          left: 50%;
          transform: translateX(-50%);

          &-icon{
            display: flex;
            justify-content: center;

            &-blog,&-qq,&-wechat {
              height:1rem;
              width: 1rem;
              margin:0 0.2rem;

              img{
                height:1rem;
                width: 1rem;
                object-fit: contain;
              }
            }
          }
        }
      }
    }
  }
}