.experienceHall-contain{
  &-item{
    margin-bottom: 0.2rem;
    &-img{
      width: 90%;
      height:3rem;
      margin:auto;

      img{
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    &-address{
      margin:0.1rem 0 0.1rem 5%;
    }

    &-btn{
      width: 2.5rem;
      height: 0.6rem;
      margin:0.1rem 5% 0.2rem auto;
    }
  }
}