.theme-recommend{
  height:5.65rem;

  &-contain {
    height: 4.5rem;
    display: flex;
    overflow-x: auto;

    &-item{
      height: 4rem;
      width:40%;
      margin:0.2rem;
      flex-shrink:0;
      text-align: center;
      border:1px solid #D0D0D0;

      &-imgShow{
        height: 3rem;
        width:90%;
        margin: 0.1rem auto;

        img{
          height:100%;
          width: 100%;
          object-fit: contain;
        }
      }

      &-itemName{
        width: 90%;
        margin:0.1rem auto;
      }

      &-detail{
        display: flex;
        justify-content: space-around;
        width:90%;
        margin:auto;

        &-comment{
          display: flex;

          &-img{
            height:0.3rem;
            width:0.3rem;
            margin:0 0.1rem;

            img{
              height: 100%;
              width: 100%;
            }
          }
        }
        &-collect{
          display: flex;

          &-img{
            height:0.3rem;
            width:0.3rem;
            margin:0 0.1rem;

            img{
              height: 100%;
              width: 100%;
            }
          }
        }
        &-good{
          display: flex;

          &-img{
            height:0.3rem;
            width:0.3rem;
            margin:0 0.1rem;

            img{
              height: 100%;
              width: 100%;
            }
          }
        }
      }
    }
  }
}


